/* Reset básico e estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(7, 16, 58);
    color: #444;
    line-height: 1.6;
}

header {
    background-color: rgb(125, 114, 218);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(236, 14, 14, 0.1);
}

.box {
    text-align: center;
}

.box h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

.box p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
}

.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.auth-box {
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
}

.auth-box h3 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.auth-box p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.auth-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-box button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgb(125, 114, 218);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
